.cuerpo{
    margin-top: 1em;
    padding: 1em;
}

.ima{
    width: 200px;
    height: 200px;
    padding: 0.5em;
    margin-left: 0.8em;
    border-radius: 15px;
}

.text{
    text-align:center;
    vertical-align:middle;
  
}

